manuais/
sonic-pi/sampling-drama/sampling-drama.mp3
sonic-pi/sampling-drama/sampling-drama.wav
sonic-pi/sampling-leka/sampling-leka.mp3
sonic-pi/sampling-leka/sampling-leka.wav
sonic-pi/sampling-marceleza/sampling-marceleza.mp3
sonic-pi/sampling-marceleza/sampling-marceleza.wav
